<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia neque dolorum, natus a explicabo dicta et provident maiores ex porro error qui consequatur laudantium, perspiciatis harum consequuntur hic inventore illum?
</body>
</html>